@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

.tower {
  flex-flow: column;
  width: 260px;
  height: 420px;
  background-image: linear-gradient(90deg, rgba(58, 75, 161, 0.04) 120px, rgba(122, 24, 0, 0.95) 120px, rgba(122, 24, 0, 0.95) 128px, rgba(58, 75, 161, 0.04) 128px);
  border-bottom: 8px solid rgba(122, 24, 0, 0.95);
  align-items: center;
}

.disk1 {
  height: 6px;
  width: 90px;
  position: 120px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.disk2 {
  flex-direction: row;
  height: 10px;
  width: 115px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.disk3 {
  flex-direction: row;
  height: 12px;
  width: 125px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

h1 {
  font-weight: 400;
  font-size: 55px;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
}

body {
  background-image: url('ps_neutral copy.png')
}

#Canvas {
  width: 800px;
  height: 480px;
  border: 2px solid rgba(122, 24, 0, 0.51);
  background-color: rgba(6, 50, 46, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#text {
  display: none;
}
