@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text');

.tower {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 260px;
  height: 420px;
  background-image: linear-gradient(90deg, rgba(43, 64, 84, 0.04) 120px, rgba(43, 64, 84, .9) 120px, rgba(43, 64, 84, .9) 125px, rgba(43, 64, 84, .04) 125px);
  border-bottom: 8px solid rgba(43, 64, 84, .9);
  margin: 10px;
}

.disk {
  background-color: lightblue;
  border-radius: 25px;
  border: 1px solid black;
  height: 30px;
  width: 50px;
}

#button1 {
  padding: 20px;
  background-color: rgba(161, 184, 206, 1);
}

#button2 {
  padding: 10px;
  background-color: rgba(161, 184, 206, 1);
}

#disk1 {
  width: 160px;
}

#disk2 {
  width: 125px;
}
#disk3 {
  width: 110px;
}

#disk4 {
  width: 90px;
}

#disk5 {
  width: 60px;
}

#text {
  display: none;
  text-align: center;
  margin-top: 10px;
  padding: 30px 0;
}

h1 {
  font-weight: 400;
  font-size: 55px;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
}

body {
  background-image: url('ps_neutral copy.png');
  margin: auto;
  width: 900px;
}

footer {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 25px;
}

.Canvas {
  width: 800px;
  height: 480px;
  border: 2px solid rgba(161, 184, 206, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
